#preco-frete {
  height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  scroll-behavior: smooth;
  place-items: center;
  display: grid;
  z-index: 10;
  text-align: center;
  font-family: gotham;
  box-sizing: border-box;
  padding: 8px;
}
.itens .frete {
	display: flex;
	place-items: center;
	justify-content:center;
	align-items: center;
	font-weight: bold;
	text-align: center;
}
